	/************** General ****************/	
.Link {
	line-height: 1px;
	text-decoration: underline;
	color: #fff;
}

.Link:hover {
	color: #afc9c9;
	text-shadow: 2px 2px 12px #647172;
}


	/************** Hero Section ****************/



.jumbotron {
	min-width: 100vw;
	min-height: 100vh
}
.hero-unit {
	background: url("../img/nøkken1.jpg");
	background-size: cover;
	position: fixed;
	top: 0; 
    left: 0; 
    min-width: 100%;
	height: 100vh;
}
	/************** Navbar Section ****************/



.navbar {
	margin-top: -12vh;
	padding-bottom: 15px;
}

.navbar-nav a {
	color: #5f5959;
}

.nav-link:hover {
	color: #afc9c9;
}
.dropdown-menu a:hover {
	cursor: pointer;
	text-shadow: 5px 5px 5px #181818;
}

	/************** Opening/About Section ****************/



#adress {
	margin-top: 25px;
}
.container {
	background-color: #181818;
}
#info {
	 background:
	    linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0.45)
	    ),
	    url("../img/bar.jpg");
    background-size: cover;
    text-align: center;
    letter-spacing: .25pt;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 156px;
}
.accordionHeader {
	text-align: center;
	text-decoration: none;
	color: #000;
}

#Map1 {
	margin-top: 10px;
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}
#Map1:hover {
	box-shadow: 5px 5px 15px #181818;
	height: auto; 
    width: auto; 
    max-width: 35px; 
    max-height: 35px;
}

	/************** Opening time ****************/



#openHeader {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 45px;
	padding-bottom: 20px;
}
	/************** About ****************/



#aboutHeader,
#nøkkenLink {

	margin-top: 20px;
	margin-bottom: 10px;
}

#elsker {
	margin-top: 35px;
}

#aboutParagraph {
	margin-top: 35px;
	margin-bottom: 10px;
}

#book {
	margin-top: 45px;
	margin-bottom: 10px;
}

	/************** * Modals ****************/



.closeBtn {
	color: #5f5959;
}	

.closeBtn:hover {
	color: #afc9c9; 
}

.modal-header {
	color: #afc9c9;
}
.modal-header,
.modal-footer {
	background-color: #252429;
}

	/************** English Menu ****************/




	/************** Norsk Meny ****************/



/************** Galleri ****************/



#gallery {
	background-color: #647172;
	padding-top: 10px;
	padding-bottom: 45px;
}	
/**
 * Button component
 */
.js-button {
 position: relative;
 top: 0;
 margin-top: 50%;
 opacity: 0;
 font-size: 1rem;
 color: #fff;
 border-radius: 2.1875rem;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 -webkit-transition: all .25s ease-in-out;
 transition: all .25s ease-in-out;
}
.js-button:focus, .js-button:hover {
 color: #111;
 background-color: #fff;
 border-color: #fff;
}
/**
 * Grid styles
 */
.item__overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(17, 17, 17, 0.65);
 -webkit-transition: background-color .65s ease-in-out;
 transition: background-color .55s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
 background-color: rgba(17, 17, 17, 0.05);
}
.item__overlay:focus > button, .item__overlay:hover > button {
 opacity: 1;
}
.grid__sizer,
.grid__item {
 position: relative;
 width: 20%;
 min-width: 16.25rem;
}
.grid__item {
 margin-bottom: .9375rem;
 border-radius: 0.25rem;
 overflow: hidden;
}
.grid__item--high,
.grid__item--high img {
 height: 30rem;
}
#imgGall {
	padding: auto;
	width: 75%;
	max-width: 100%;
	height: auto;
}
#Pics, a,
.fa {
 color: #bbb;
 -webkit-transition: color .25s ease-in-out;
 transition: color .25s ease-in-out;
}
#Pics, a:focus, a:hover,
.fa:focus,
.fa:hover {
 text-decoration: none;
 color: #666;
}
.active .fa {
 color: #f62459;
}
	
	/************** Map Modal Section ****************/



.Map {
	text-align: center;
}
	/************** Footer ****************/



.footer {
	padding-bottom: 5px;
}

#Map {
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
	margin-left: 5px;
}
#Map:hover {
	background-color: #afc9c9;
	border-radius: 50%;
}

.brand {
	margin-top: 15px;
	margin-left: 45px;
	margin-bottom: 10px;

}
#copyright {
	text-align: center;
	margin-top: -44px;
}
#copyright {
	color: #5f5959;
}
.MyLink {
	text-decoration: none;
	letter-spacing: .5px;
	color: #5f5959;
}
.MyLink:hover {
	text-decoration: none;
	color: #afc9c9;
}
#facebook {
	border-radius: 15%;
	margin-left: 30px;
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}
#facebook:hover {
	background-color: #afc9c9;
}

